[Unit]
Description=Check for Arch package updates
Wants=network-online.target
After=network-online.target multi-user.target

[Service]
Type=oneshot
RemainAfterExit=no
Restart=on-failure
; %C points to ${XDG_CACHE_HOME}. See systemd.unit(5) for details.
Environment=CHECKUPDATES_DB=%C/checkupdates_db
ExecStart=sh -c 'checkupdates | tee /tmp/checkupdates; mv /tmp/checkupdates ~/.cache/checkupdates'

[Install]
WantedBy=default.target
