[Unit]
Description=Find broken library links on your system every 6 hours and on boot
After=multi-user.target

[Timer]
OnActiveSec=2min
OnUnitInactiveSec=6h
RandomizedDelaySec=10m
Persistent=false

[Install]
WantedBy=timers.target
