[Unit]
Description=Fetch RSS feeds
Wants=network-online.target
After=network-online.target multi-user.target

[Service]
Type=oneshot
RemainAfterExit=no
Restart=on-failure
ExecStart=/bin/sh -c "newsboat -x reload && newsboat -x print-unread | awk '{ print $1 }' >~/.cache/news_unread"

[Install]
WantedBy=default.target
