[Unit]
Description=Fetch RSS feeds every hour and on boot
Wants=network-online.target
After=network-online.target multi-user.target

[Timer]
OnActiveSec=2min
OnUnitInactiveSec=1h
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
