[Unit]
Description=Self-hosted game stream host for Moonlight
Wants=network-online.target
After=network-online.target multi-user.target

[Service]
Type=simple
Restart=on-failure
Environment=DISPLAY=
Environment=WAYLAND_DISPLAY=
ExecStart=sunshine

[Install]
WantedBy=default.target
